<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="Gest_RDVModelContainer" connectionString="metadata=res://*/Gest_RDVModel.csdl|res://*/Gest_RDVModel.ssdl|res://*/Gest_RDVModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=elhajuojy-lapto\mehdi;initial catalog=test_Gest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="mehdiEntits" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=elhajuojy-lapto\mehdi;initial catalog=test_Gest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Gest_RDVEntities" connectionString="metadata=res://*/gestModel.csdl|res://*/gestModel.ssdl|res://*/gestModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=elhajuojy-lapto\mehdi;initial catalog=Gest_RDV;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>